.base {
  display: grid;
}
.topicos {
  display: flex;
  flex-direction: row;
}

#entrada {
  width: 50%;
  padding: 30px;
}

.banner {
  border-bottom: 100px;
}

.marcadoretitulo {
  display: inline-flex;
  flex-direction: row;
  align-items: flex-end;
}
