.vertical {
  display: flex;
  flex-direction: column;
  align-item: center;
}

.horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#um {
  float: left;
  width: 100%;
  height: 400px;
  margin-top: 100px;
  display: flex;
  background-image: url("../assets/bannerum.png");
  color: white;
  text-align: center;
  font-size: 40px;
  justify-content: center;
}

#dois {
  padding: 40px;
  display: flex;
  align-items: center;
}

#dois p {
  font-size: 30px;
  text-align: center;
}

#titulo {
  margin-top: 180px;
  text-align: center;
}

.bolaum {
  background: #ab0e38;
  border-radius: 50%;
  display: flex;
  text-align: center;
  padding-inline: 10px 10px;
  margin: 10px;
  padding: 20px;
  height: 100px;
  width: 100px;
  font-weight: bold;
  font-size: 45px;
  color: white;
}

.boladois {
  background: #c03c5f;
  border-radius: 50%;
  display: flex;
  text-align: center;
  padding-inline: 10px 10px;
  margin: 10px;
  padding: 20px;
  height: 100px;
  width: 100px;
  font-weight: bold;
  font-size: 45px;
  color: white;
}

.bolatres {
  background: #f28da8;
  border-radius: 50%;
  display: flex;
  text-align: center;
  padding-inline: 10px 10px;
  margin: 10px;
  padding: 20px;
  height: 100px;
  width: 100px;
  font-weight: bold;
  font-size: 45px;
  color: white;
}

.porcentagem {
  display: flex;
  align-items: center;
  position: relative;
  margin-top: 50%;
  text-align: center;
  text-size-adjust: 20%;
  font-size: 35px;
}

h3 .porcentagem {
  text-align: ;
}

.quatro {
  display: flex;
  justify-content: center;
}

#cinco h1 {
  margin-left: 10px;
}

#seis {
  background-image: url("../assets/Rectangle 6.svg");
  background-position: right;
  height: 400px;
  width: 90%;
}

#textobannerum {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#textobannerdois {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#textobannertres {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#sete {
  margin-top: 20px;
  background-image: url("../assets/Rectangle 6 (1).svg");
  background-position: inherit;
  height: 400px;
  width: 90%;
}

#oito {
  margin-top: 20px;
  background-image: url("../assets/Rectangle 6 (2).svg");
  background-position: right;
  height: 400px;
  width: 90%;
}

.banners {
  padding: 20px;
  color: white;
}

#newsletter {
  margin-bottom: 40px;
}

#newsletter .newsletter-title {
  margin-left: 50px;
}

.newsletter-content {
  color: white;
  width: 95%;
  height: 400px;
  shape-outside: inset(20px 5px 30px 10px);
  margin: 50px auto;
  border-radius: 10px;
  margin: 0 auto;
  display: flex;
  border: 1px solid black;
}

.noticias {
  background-color: #ab0e38;
  border-radius: 10px;
  padding: 50px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 50%;
}

.noticias h2 {
  font-size: 40px;
}

.email {
  display: flex;
  width: 47.5%;
  justify-content: center;
  align-items: center;
}
