.vertical {
  display: flex;
  flex-direction: column;
}

.horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#um {
  float: left;
  width: 100%;
  height: 400px;
  shape-outside: inset(20px 5px 30px 10px);
  background: #e8e8e8;
  margin-top: 100px;
}

#titulo {
  margin-top: 180px;
  text-align: center;
}

.dadosum {
  background: #e8e8e8;
  border-radius: 50%;
  display: flex;
  text-align: center;
  padding-inline: 10px 10px;
  margin: 10px;
  padding: 20px;
  height: 100px;
  width: 100px;
  font-weight: bold;
  font-size: 45px;
}

.porcentagem {
  display: flex;
  align-items: center;
  position: relative;
  margin-top: 50%;
  text-align: center;
  text-size-adjust: 20%;
  font-size: 35px;
}

h3 .porcentagem {
  text-align: ;
}

.quatro {
  display: flex;
  justify-content: center;
}

#banner {
  width: 95%;
  height: 400px;
  shape-outside: inset(20px 5px 30px 10px);
  background: #e8e8e8;
  margin: 50px auto;
}

#newsletter {
  margin-bottom: 40px;
}

#newsletter .newsletter-title {
  margin-left: 50px;
}

.newsletter-content {
  color: white;
  width: 95%;
  height: 400px;
  shape-outside: inset(20px 5px 30px 10px);
  margin: 50px auto;
  border-radius: 10px;
  margin: 0 auto;
  display: flex;
  border: 1px solid black;
}

.noticias {
  background: #666363;
  border-radius: 10px;
  padding: 50px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 50%;
}

.noticias h2 {
  font-size: 40px;
}

.email {
  display: flex;
  width: 47.5%;
  justify-content: center;
  align-items: center;
}
